
name: release
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tag:
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Get version
        id: get-version
        uses: ./.github/actions/get-version
        with:
          version-file-path: "src/Version.props"

      - name: Create Git tag
        run: |
          TAG_PACKAGE="v${{ steps.get-version.outputs.version-package }}"
          TAG_MAJOR="v${{ steps.get-version.outputs.version-major }}"

          echo "TAG_PACKAGE = ${TAG_PACKAGE}"
          echo "TAG_MAJOR = ${TAG_MAJOR}"          

          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git tag ${TAG_PACKAGE}
          git tag -f ${TAG_MAJOR}
          
          git push origin ${TAG_PACKAGE}
          git push origin ${TAG_MAJOR} --force

  non-master-branch:
    if: ${{ github.ref != 'refs/heads/master' }}
    runs-on: ubuntu-22.04
    steps:
      - name: Show failure message
        run: core.setFailed("Release workflow can only work on `master` branch, current is ${{ github.ref }}")